@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    background-color: #49438D;
    background-image: url(../img/img_fundo_texturizado.png);
    background-size: cover;
    color: white;
    font-family: 'Inria Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botao-voltar, 
.botao-menu {
    background: none;
    border: none;
}

.botao-voltar img, 
.botao-menu img {
    width: 25px;
}

.container-medalhas {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.lista-medalhas {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-mes {
    background-color: #A9B1D6; 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 14%;
}

.card-mes h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
}

.medalha-img {
    width: 45px;
    height: auto;
}

.btn-voltar-treinos {
    background-color: white;
    color: #1E0A41;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}


@media (min-width: 2559px) {
    h1 { 
        font-size: 40px; 
    }
    
    .card-mes { 
        max-width: 800px; 
    }
    
    .card-mes h3 { 
        font-size: 28px; 
    }
    
    .medalha-img { 
        width: 100px; 
    }
    
    .btn-voltar-treinos { 
        font-size: 20px; 
        padding: 15px 50px; 
    }
}

@media (max-width: 423px) {
    h1 { 
        font-size: 16px; 
    }
    
    .card-mes { 
        height: 13%; 
        border-radius: 25px; 
    }
    
    .medalha-img { 
        width: 35px; 
    }
    
    .lista-medalhas { 
        gap: 8px; 
    }
}

@media (max-width: 373px) {
    h1 { 
        font-size: 14px; 
    }
    
    .btn-voltar-treinos { 
        font-size: 10px; 
        padding: 8px 20px; 
    }
    
    .card-mes h3 { 
        font-size: 12px; 
    }
}

@media (max-width: 318px) {
    .card-mes h3 { 
        display: none; 
    }
    
    .medalha-img { 
        width: 30px; 
    }
}